@lightBlue: #009FCB;
@skyBlue: #0C76B8;
@medimBlue: #0F549F;
@ultramarine: #063773;
@DarkBlue: #0B2340;
@gray: #5B6062;

body{
  font-family: "apertura",sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: @gray;
}

h1, h2, h3, h4, h5{
  font-family: "apertura",sans-serif;
  text-align: center;
}

*{
  border: none;
  margin: 0;
  padding: 0;
}

a{
  display: block;
  transition: all .12s ease;
}

img{
  width: 100%;
}

.row{
  margin: 0;
  padding: 0;
}


.swiper-button-prev{
  background: url('../sources/images/arrow-left.png') no-repeat !important;
  width: 40px;
  height: 40px;
}

.swiper-button-next{
  background: url('../sources/images/arrow-right.png') no-repeat !important;
  width: 40px;
  height: 40px;
}


header#main-header {
  .navbar{
    background: @DarkBlue;
    color: white;
    margin: 0;
    border: none;
    border-radius: 0;
  }
  .navbar-brand{
    height: auto;
    max-width: 230px;
  }
}

#slider{
  width: 100%;
  height: 810px;
  .swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  .swiper-pagination-bullet{
    width: 15px;
    height: 15px;
  }
  h2{
    color: white;
    text-align: center;
    padding-top: 15%;
    max-width: 780px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 800;
  }
  h3{
    font-size: 45px;
    font-weight: 400;
    color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 5%;
    font-style: normal;
    text-transform: inherit;
  }
  button{
    background: @lightBlue;
    padding: 10px 20px 5px 20px;
    font-weight: 600;
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    display: block;
    width: 40%;
    margin: 70px auto 0 auto;
    border-radius: 5px;
  }
}

#slogan{
  margin: 120px 0;
  h2{
    font-size: 40px;
    color: @ultramarine;
    max-width: 820px;
    margin: 0 auto;
    padding: 0;
    font-weight: 600;
  }
  h3{
    max-width: 730px;
    font-size: 23px;
    color: #434041;
    padding: 40px 0;
    margin:  0 auto;
  }
  p{
    font-weight: 200;
    max-width:1000px;
    margin: 0 auto;
    text-align: center;
  }
}

#presupuesto{
  width: 100%;
  background: @lightBlue;
  color: white;
  padding: 80px 0;
  text-align: left;
  h2{
    font-size: 43px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
  }
  h3{
    font-size: 29px;
    font-weight: 500;
    color: @DarkBlue;
    text-align: left;
    font-style: normal;
  }
  p{
    font-weight: lighter;
  }
}


#papeles{
  width: 100%;
  height: 400px;
  .col-md-5{
    background: #EDEEF0;
    color: @DarkBlue;
    height: 100%;
    .textos{
      width: 70%;
      padding: 50px 0;
      margin: 0 0 0 auto;
      h4{
        font-weight: 400;
        color: @DarkBlue;
        padding: 50px 0;
        span{
          font-weight: 500;
        }
      }
      hr{
        border: 1px solid @lightBlue;
        width: 100px;
        margin:  0 auto;
      }
    }
  }
  .col-md-7{
    height: 100%;
    padding-left: 100px;
    .textos{
      width: 80%;
      padding: 50px 0;
      margin: auto 0 0 0;
      h3{
        font-size: 43px;
        color: @lightBlue;
        font-weight: 700;
        text-align: left;
      }
      p{
        font-weight: 400;
      }
      button{
        background: @DarkBlue;
        color: white;
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 500;
        width: 100%;
        border-radius: 5px;
        padding: 10px 0;
        margin-top: 20px;
      }
    }
  }
}

#banner2{
  width: 100%;
  height: 600px;
  background: url('../sources/images/img_credito2.png')center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  h2{
    font-weight: 700;
    font-size: 43px;
    margin-top: 7%;
  }
  .requisito{
    padding-top: 6%;
    .col-md-6{
      img{
        max-width: 60px;
        display: inline-block;
        padding-top: 60px;
      }
      ul{
        width: 80%;
        display: inline-block;
        vertical-align: top;
        list-style: none;
        margin-left: 30px;
        h3{
          color: @lightBlue;
          letter-spacing: 4px;
          text-align: left;
          text-transform: uppercase;
        }
        .icon{
          background: url('../sources/images/iconos.png') -420px -93px;
          background-repeat: no-repeat;
          width: 5%;
          height: 20px;
          display: inline-block;
          padding-right: 30px;
          vertical-align: top;
        }
        li{
          padding-right: 30px;
          display: inline-block; width: 93%;
          margin-bottom: 5px;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
  }
}

#regla{
  h2{
    font-size: 45px;
    color: @medimBlue;
    font-weight: 700;
    padding: 40px 0;

  }
  .section-regla{
    padding: 20px 60px;
    h4{
      font-size: 20px;
      color: @lightBlue;
      padding: 20px 0;
    }
    .img-regla{
      background: url('../sources/images/iconos.png');
      background-repeat: no-repeat;
      width: 100px;
      height: 90px;
      margin: 0 auto;
      text-align: center;
      &.regla02{
        background-position: -100px 0;
      }
      &.regla03{
        background-position: -200px 0;
      }
      &.regla04{
        background-position: 0 -90px;
      }
      &.regla05{
        background-position: -100px -90px;
      }
      &.regla06{
        background-position: -200px -90px;
      }
    }
  }
}

#estrenar{
  width: 100%;
  background: @lightBlue;
  color: white;
  h2{
    font-size: 35px;
    padding: 30px 0 60px 0;
    text-transform: uppercase;
    font-weight: 600;
  }
  .list-estrenar{
    ul{
      .icon{
        background: url('../sources/images/iconos.png') -452px -95px;
        background-repeat: no-repeat;
        width: 4%;
        height: 20px;
        display: inline-block;
        padding-right: 30px;
        vertical-align: top;
      }
      li{
        padding-right: 30px;
        display: inline-block; width: 90%;
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 15px;
        padding-bottom: 30px;
      }
    }
  }
}

#remate{
  h2{
    font-size: 45px;
    color: @DarkBlue;
    padding: 80px 0;
  }
  button{
    width: 50%;
    padding: 10px 0;
    background: @lightBlue;
    color: white;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 100px;
    border-radius: 5px;
  }
}


footer{
  width: 100%;
  background: @DarkBlue;
  border-top: 30px solid @medimBlue;
  color: white;
  padding: 40px 0;
  .credito-footer{
    .back{
      margin-top: 30px;
      background: #2C4B6E;
      padding: 0 10px;
      border-radius: 5px;
      .logo-crea{
        background: url('../sources/images/iconos.png') -300px -10px;
        width: 83px;
        height: 30px;
        display: inline-block;
        margin-top: 20px;
        background-repeat: no-repeat;
      }
      .legal{
        display: inline-block;
        width: 83%;
        max-width: 430px;
        padding: 20px;
        vertical-align: top;
        font-size: 12px;
        p{
          margin: 0;
        }
      }
      .logos{
        margin: 10px 0;
        padding-bottom: 10px;
        ul{
          li{
            display: inline-block;
            width: 60px;
            height: 30px;
            background-repeat: no-repeat;
            margin-right: 40px;
            &.logo-empresa{
              background: url('../sources/images/iconos.png') -300px -50px;;
            }
            &.logo-great{
              background: url('../sources/images/iconos.png') -300px -90px;;
              width: 90px;
              height: 36px;
            }
            &.logo-social{
              background: url('../sources/images/iconos.png') -300px -149px;;
              width: 90px;
              height: 36px;
            }
            &.logo-creal{
              background: url('../sources/images/iconos.png') -390px -5px;
              width: 30px;
            }
          }
        }
      }
    }
  }
  .legales{
    font-size: 15px;
    font-weight: 500;
    h5{
      text-align: left;
      font-size: 16px;
    }
    ul{
      li{
        padding-bottom: 4px;
      }
    }
  }
  .telefono{
    .img-tel{
      background: url('../sources/images/iconos.png') -440px -9px;
      display: inline-block;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      margin-left: 30px;
      margin-top: 5px;
    }
    .tel{
      display: inline-block;
      width: 70%;
      vertical-align: top;
    }
  }
  .social{
    margin-top: 30px;
    ul{
      li{
        display: inline-block;
        background: url('../sources/images/iconos.png') -370px -52px;
        width: 35px;
        height: 35px;
        background-repeat: no-repeat;
        margin-right: 30px;
        &.icn-facebook{
          margin-left: 30px;
        }
        &.icn-twitter{
          background: url('../sources/images/iconos.png') -406px -52px;
        }
        &.icn-youtube{
          background: url('../sources/images/iconos.png') -445px -52px;
        }
      }
    }
  }
  .con-buro{
    .buro{
      display: inline-block;
      background: url('../sources/images/iconos.png') -388px -95px;
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      margin: 30px 40px 0 30px;
    }
    .condusef{
      display: inline-block;
      background: url('../sources/images/iconos.png') -386px -128px;
      width: 67px;
      height: 35px;
      background-repeat: no-repeat;
      margin: 30px 40px 0 30px;
    }
  }
  .copyright{
    font-weight: 500;
    border-top: 2px solid white;
    width: 100%;
    font-size: 12px;
    margin-top: 40px;
    padding: 30px;
    .copy{
      color: @medimBlue;
    }
    .costos{
      color: white;
      text-align: right;
    }
  }
}

@import "media";