@media (max-width: 720px) {
  .btn-general{
    width: 100%;
  }
  header#main-header{
    .navbar-default{
      .navbar-nav{
        li{
          a{
            padding-top: 25px;
            padding-bottom: 25px;
            border: none;
            &:hover,
            &:active,
            &:focus{
              color: white;
              border-bottom:none;
            }
          }
        }
      }
    }
  }
  #slider{
    h2{
      font-size: 24px;
      padding-top:100%;
    }
  }
  #packages-home {
    #list-package{
      padding-top: 60px;
      .row{
        .col-md-4{
          margin-bottom: 60px;
        }
      }
    }
  }
  #homeInfo{
    text-align: center;
    .lista-iconos{
      padding-top: 20px !important;
    }
  }
  #homeMap{
    .data-info{
      padding-top: 15px !important;
    }
  }
  footer{
    .legales{
      text-align: center;
      padding-bottom: 30px;
    }
  }

  #contact{
    .mapContacto{
      height: 300px;
    }
    .formulario{
      padding: 15px;
      .no-padding-left{
        padding-right: 0;
      }
      .no-padding-right{
        padding-left: 0;
        padding-top: 15px;
      }
    }
    button{
      width: 100%;
      display: block !important;
      margin: 0 auto;
      float: none;
      max-width: none;
    }
  }
  #soluciones{
    #banner-quote{
      .container{
        padding: 20px;
        span{
          top: 10% !important;
        }
        p.quote{
          font-size: 17px;
        }
      }
    }
  }
  #nosotros{
    .banner-nosotros{
      height: 700px;
    }
  }
  #modalLogin{
    .modal-content{
      width: 100%;
    }
  }
}

